@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$light-blue: #a2d2ff;
$beige: #fef9ef;
$light-orange: #ff865e;
$yellow: #fee440;
$text-dark: #333333;

.wrapper {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 3.76%, rgba(255, 255, 255, 0.5) 61.46%),
    url("https://images.unsplash.com/photo-1621286530465-42e52a959e16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=679&q=80");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  .title {
    padding-top: 50px;
    font-size: 3.5rem;
    font-family: "Pacifico", cursive;
    color: $light-blue;
    text-align: center;
  }
}
.authContainer {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  // height: 100vh;
  margin-top: 130px;

  .authTitle {
    color: $light-blue;
    font-size: 2rem;
    font-weight: 400;
  }
  .authCard {
    font-family: "Josefin Sans", sans-serif;
    padding: 20px 40px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: $beige;
    border-radius: 10px;
    box-shadow: 10px 11px 7px -5px rgba(51, 51, 51, 0.13);
    margin-bottom: 20px;
    label {
      color: $text-dark;
      margin-top: 15px;
      font-size: 1.2rem;
    }
    input {
      margin: 10px 0;
      border: 1px solid $text-dark;
      border-radius: 3px;
      color: $text-dark;
      padding: 5px 0;
      padding-left: 10px;
      &::placeholder {
        color: $light-blue;
      }

      &:focus,
      &:focus-visible {
        outline: none;
        border-color: $light-blue;
        background-color: white;
      }
      &:active {
        background-color: white;
      }
    }
    button {
      width: 50%;
      background-color: white;
      color: $text-dark;
      border: 2px solid $light-blue;
      margin: 20px auto;
      padding: 5px 0;
      border-radius: 3px;
      transition: 0.3s;
      &:hover,
      &:focus {
        background-color: $light-blue;
        color: $beige;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  .authInfo {
    text-align: center;
    color: $text-dark;
    font-size: 1.5rem;
    .linkButton {
      background-color: transparent;
      border: none;
      transition: 0.1s;
      color: $text-dark;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        color: $light-orange;
      }
    }
  }
}
.menu {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  width: 100%;
  background-color: $beige;
  padding: 5px 100px;
  align-items: center;
  .logo {
    margin-right: auto;
    .logo-text {
      text-decoration: none;
      font-weight: 600;
      font-family: "Pacifico", cursive;
      color: $light-blue;
      font-size: 2.2rem;
    }
  }
  .menu-links {
    width: auto;
    display: flex;
    gap: 45px;
    margin: 0 auto;
    .menu-item {
      color: $text-dark;
      text-decoration: none;
      font-size: 1.2rem;
      transition: 0.3s;
      &:hover {
        color: $light-orange;
        transform: scale(1.09);
      }
    }
  }
  .social-links {
    display: flex;
    margin-left: auto;
    gap: 10px;
    a {
      color: $light-blue;
      font-size: 1.5rem;
      transition: 0.3s;
      &:hover {
        color: $light-orange;
      }
    }
    .logout {
      background-color: transparent;
      border: none;
      color: $light-blue;
      font-size: 1.5rem;
      transition: 0.3s;
      font-size: 1.6rem;
      &:hover {
        color: $light-orange;
      }
    }
    .group-icons {
      a {
        margin-left: 20px;
        text-decoration: none;
      }
    }
  }
}
